#validPlace {
  width: 200px;
  height: 200px;
  border: 1px solid #222;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  z-index: 99;
  background-color: azure;
  display: none;
}

#input1 {
  text-transform: uppercase;
}

.today {
  height: 200px;
  margin: 20px;
}

#today-hourly {
  display: flex;
  height: 200px;
}

.today-part {
  border: 1px solid #222;
  padding: 10px;
  flex-grow: 1;
}

#forecast {
  display: flex;
}

.forecast-part {
  border: 1px solid #222;
  padding: 2px 10px;
  flex-grow: 1;
  cursor: pointer;
  height: 20px;
}

#back-to-today {
  border: 1px solid #222;
  width: 150px;
  cursor: pointer;
}
